body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #636060;
    color: white;
    text-align: center;
    padding: 1em 0;
    
}

#projetos {
    margin: 2em 0;
    padding: 0 1em;
}

footer {
    background-color: #636060;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.projeto {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
}

header img {
    max-width: 25%;
    height: auto;
}

#contato a {
    color: #25d366;
    text-decoration: none;
    display: flex;
    margin: 0;
    background-color: #636060;
    color: rgb(6, 248, 111);
    font-family: Arial, sans-serif;
}

.menu-lateral {
    width: 1433px;
    background-color: #636060;
    padding: 20px;
    position: sticky;
    z-index: 1;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral li {
    margin-bottom: 25px;
}

.menu-lateral a {
    text-decoration: none;
    color: white;
}

#conteudo {
    margin-left: 220px;
    padding: 20px;
    box-sizing: border-box;
}